@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Slab", serif;
}

#root {
  display: flex;
  height: 100vh;
}

.info-container {
  flex: 1;
  display: flex;
  border: 1px solid #ddd;
}

.cv-container {
  flex: 1;
  display: flex;
  border: 1px solid #ddd;
  justify-content: center; /* Center horizontally */
}

.resume {
  width: 700px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border: 2px solid #333; /* Added border */
}
.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
.header h1 {
  font-size: 24px;
  margin-bottom: 8px;
}
.header p {
  font-size: 14px;
}
.content {
  padding: 20px;
}
.section {
  margin-bottom: 20px;
}
.section h2 {
  color: #333;
  font-size: 18px;
  margin-bottom: 10px;
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
}
.info-item {
  margin-bottom: 10px;
}
.info-item h3 {
  font-size: 16px;
  margin-bottom: 5px;
  color: #333;
}
.info-item p {
  font-size: 14px;
  color: #555;
}
